# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Qodex Core
Comment=Qodex Core QT main network
GenericName=Qodex Digital Currency QT client main network
Exec=qodex-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/qodex.png
MimeType=x-scheme-handler/qodex;
Categories=X-Office;X-Finance;
Keywords=internet;qodex;zQDEX;piv;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=qodex-qt.desktop
